.form-box {
    width: 400px;
    padding: 40px;
    
    background: rgba(255, 255, 255, 0.12);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    box-shadow: 
        0 25px 50px rgba(0, 0, 0, 0.5),
        0 0 30px rgba(150, 100, 255, 0.4);

    backdrop-filter: blur(10px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
 
}
body {
    background-color: #44077d;
    color: #ba82ee;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: #ba82ee;
    
    padding: 10px;

}
b{
    color: #ba82ee;
    
    padding: 5px;
    margin: 5px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}
select{
    color: #ba82ee;
    ;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}
input{
    color: #ba82ee;
    
    padding: 5px;
    margin: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
button{
    color: #ba82ee;
   
    padding: 5px;
    margin: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}